.h1-works-list {
    font-family: var(--title);
    font-size: 5rem;
    margin-top: 3rem;
    display:flex;
    justify-content: center;
}

.block-work-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.new-work-link {
    border-radius: 50px;
    background-color: var(--jaune);
    box-shadow: 0.2rem 0.2rem 0.4rem var(--fushia);
    font-family: var(--text);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black);
    padding: 10px;
}

.link-come-back-button {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
}

.link-come-back {
    border-radius: 50px;
    width: 10rem;
    height: 2rem;
    background-color: var(--jaune);
    box-shadow: 0.2rem 0.2rem 0.4rem var(--fushia);
    margin-top: 5rem;
    font-family: var(--text);
    font-size: 1rem;
    border: none; 
    text-align: center;
} 

.table-works-block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 125rem;
    padding: 1rem;
    height: auto;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    border-radius: 8px;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--jaune);
    background-color: var(--jaune);
}

.table-works {
    border-spacing: 5px;
}

.th-works {
    background-color: white;
    border-radius: 8px;
    vertical-align: middle;
    padding:5px;
    font-family: var(--text);
    font-size: 1.5rem;
}

.tr-works {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding:5px;
    font-family: var(--text);
    font-size: 1.5rem;
}

