@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import '../root.css';
@import 'admin_skill.css';
@import 'admin_new_skill_form.css';
@import 'admin_dashboard.css';
@import 'admin_work.css';
@import 'admin_new_work_form.css';

body {
    background-color: var(--rosepale);
}

* {
    padding: 0;
    margin: 0;
}