.titles-dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.h1-dashboard {
    font-family: var(--title);
    font-size: 5rem;
    margin-top: 2rem;
}

.h2-dashboard {
    font-family: var(--title);
    font-size: 4rem;
}

.buttons-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.block-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../images/backgroundflowers.jpg');
    background-size: cover;
    opacity: 0.7;
    width: 20rem;
    height: 10rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    border: transparent;
    text-align: center;
    padding: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.text-btn-dashboard {
    font-family: var(--text);
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

