.h1-educations-list {
    font-family: var(--title);
    font-size: 5rem;
    margin-top: 3rem;
    display:flex;
    justify-content: center;
}

.block-education-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.new-education-link {
    border-radius: 50px;
    background-color: var(--jaune);
    box-shadow: 0.2rem 0.2rem 0.4rem var(--fushia);
    font-family: var(--text);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black);
    padding: 10px;
}

.link-come-back-button {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
}

.link-come-back {
    border-radius: 50px;
    width: 10rem;
    height: 2rem;
    background-color: var(--jaune);
    box-shadow: 0.2rem 0.2rem 0.4rem var(--fushia);
    margin-top: 5rem;
    font-family: var(--text);
    font-size: 1rem;
    border: none; 
    text-align: center;
} 

.table-educations-block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80rem;
    padding: 1rem;
    height: auto;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    border-radius: 30px;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--jaune);
    background-color: var(--rose);
}

.table-educations {
    border-spacing: 8px;
}

.th-educations {
    background-color: white;
    border-radius: 30px;
    vertical-align: middle;
    padding:10px;
    font-family: var(--text);
    font-size: 1.5rem;
}

.tr-educations {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding:10px;
    font-family: var(--text);
    font-size: 1.5rem;
}

