.block-form-new-image {
    margin-inline:auto;   
    width: 70rem;
    height: 30rem;
    margin-top: 10rem;
    margin-bottom: 15rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-image: url('../../images/backgroundflowers.jpg');
    background-size: cover;
}

.form-new-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-form-new-image {
    font-family: var(--title);
    font-size: 4rem;
    padding-top: 2rem;
    text-align: center;
}

label.required {
    font-size: 1.5rem;
    font-family: var(--text);
    color: var(--black);
    margin-right: 10px;
}

select#image_work {
    font-size: 1.5rem;
    border: none;
    width: 30rem;
    height: 2rem;
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--jaune);
}

input#image_photoFile_file {
    width: 30rem;
    height: 2rem;
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--jaune);
    font-size: 1.5rem;
    border: none;
    background-color: var(--rose);
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 8rem;
    font-family: var(--text);

}

button.btn {
    border-radius: 50px;
    width: 10rem;
    height: 3rem;
    background-color: var(--jaune);
    box-shadow: 0.2rem 0.2rem 0.4rem var(--fushia);
    margin-top: 2rem;
    margin-left:15rem;
    font-family: var(--text);
    font-size: 1.5rem;
    border: none;
    text-align: center;
}

.link-come-back-button-new-image {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-family: var(--text);
}

.link-come-back-new-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 6rem;
    height: 2rem;
    background-color: var(--jaune);
    box-shadow: 0.2rem 0.2rem 0.4rem var(--fushia);
    margin-top: 3.5rem;
    border: none; 
    margin-left: 30rem;
}