.container-education{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    height: 58rem;
    margin-top: 10rem;
    margin-bottom: 15rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-image: url('../../images/backgroundflowers.jpg');
    background-size: cover;
}

.h1-educations {
    font-family: var(--title);
    font-size: 5rem;
    padding-top: 2rem;
    text-align: center;
}

input#education_title {
    width: 30rem;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--jaune);
    font-size: 2rem;
    border: none;
    background-color: var(--rose);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: var(--text);
}

input#education_year {
    width: 30rem;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--jaune);
    font-size: 2rem;
    border: none;
    background-color: var(--rose);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: var(--text);
}

input#education_school {
    width: 30rem;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--jaune);
    font-size: 2rem;
    border: none;
    background-color: var(--rose);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: var(--text);
}

input#education_description {
    width: 30rem;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--jaune);
    font-size: 2rem;
    border: none;
    background-color: var(--rose);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: var(--text);
}

button#education_submit {
    margin-left:8rem;
    border-radius: 50px;
    width: 15rem;
    height: 4rem;
    background-color: var(--jaune);
    box-shadow: 0.2rem 0.2rem 0.4rem var(--fushia);
    margin-top: 2rem;
    font-family: var(--text);
    font-size: 1.5rem;
    border: none;
    text-align: center;
}

.link-come-back-button {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
}

.link-come-back {
    border-radius: 50px;
    width: 10rem;
    height: 2rem;
    background-color: var(--jaune);
    box-shadow: 0.2rem 0.2rem 0.4rem var(--fushia);
    margin-top: 3.5rem;
    font-family: var(--text);
    font-size: 1rem;
    border: none; 
    text-align: center;
}