@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import '../root.css';
@import 'admin_skill.css';
@import 'admin_new_skill_form.css';
@import 'admin_dashboard.css';
@import 'admin_work.css';
@import 'admin_new_work_form.css';
@import 'admin_language.css';
@import 'admin_new_language_form.css';
@import 'admin_experience.css';
@import 'admin_new_experience_form.css';
@import 'admin_education.css';
@import 'admin_new_education_form.css';
@import 'admin_user.css';
@import 'admin_edit_user_form.css';
@import 'admin_image.css';
@import 'admin_new_image_form.css';

body {
    background-color: var(--rosepale);
}

* {
    padding: 0;
    margin: 0;
}