{% extends 'base.html.twig' %}

{% block title %}Checkpoint 4 - Portfolio
{% endblock %}

{% block body %}
	<section class="about-me-home">
		<h2 class="h2-home">Qui suis-je?</h2>

		<p class="about-me-home-text">Forte d’une belle expérience de 17 ans dans le secteur de la Construction, j’ai décidé de donner un nouveau sens à ma carrière professionnelle et plus particulièrement dans la Tech et le Numérique. Actuellement en formation 'bootcamp' DÉVELOPPEUR WEB FULLSTACK, je recherche un stage (jusqu'à 4 mois) pour compléter mes compétences professionnelles, au sein d'une équipe avec laquelle nous pourrions partager nos expériences.
		</p>
	</section>

	<section class="skills-home">
		<h2 class="h2-home">Mes Hard Skills et Tools</h2>
	</section>

{% endblock %}
