<nav class="uk-navbar-container">
	<div class="bloc">

		<div uk-navbar>
			<img class='avatar' src="{{ asset('build/images/avatar.png')}}" alt="Mon avatar" width='100rem'>
			<div class="h1-navbar">
				<h1 class="h1-navbar-text">Stéphanie Vivien</h1>
				<h2 class="h2-navbar-text">Développeuse</h2>
			</div>
			<div class="uk-navbar-left">
				<a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
				<div class="uk-navbar-dropdown">
					<ul class="uk-nav uk-navbar-dropdown-nav">
						<li>
							<a href="#Qui suis-je">Qui suis-je?</a>
						</li>
						<li>
							<a href="#Mes skills">Mes skills</a>
						</li>
						<li>
							<a href="#Mon expérience professionnelle">Mon expérience professionnelle</a>
						</li>
						<li>
							<a href="#Mes projets">Mes projets</a>
						</li>
						<li>
							<a href="#Mes formations">Mes formations</a>
						</li>
						<li>
							<a href="#Contactez-moi">Contactez-moi</a>
						</li>
						{% if app.user  %}
							<li>
								<a href="#">Mon dashboard</a>
							</li>
							<li>
								<a href="{{ path('app_logout')}}">Déconnexion</a>
							</li>
						{% endif %}
						<li>
							<a href="{{ path('app_login')}}">Connexion</a>
						</li>
					</ul>
				</div>
			</div>


		</div>


	</div>
</nav>
