.uk-navbar {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    width: 100%;
}

.bloc {
    background-image: url('../images/backgroundflowers.jpg');
    background-size: cover;
}

.uk-navbar-dropdown.uk-drop {
    background-color: var(--fushia);
    border-radius: 15px;
    width: 22rem;
}

.uk-navbar-dropdown-nav>li>a {
    font-size: 1.5rem;
    color: var(--black);
    font-family: var(--text);
}

.h1-navbar-text {
    font-family: var(--title);
    font-size: 6rem;
}

.h2-navbar-text {
    font-family: var(--title);
    font-size: 5rem;
    margin-top: 0;
    display:flex;
    justify-content: space-around;
}

.avatar {
    margin-top: 3rem;
    max-width: 100px;
    max-height: 100px;
}

