@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import 'root.css';
@import 'home.css';
@import '_navbar.css';
@import '_footer.css';
@import 'security.css';
@import 'form_contact.css';


body {
    background: linear-gradient(#f0eafc, #FFFFFF);
}

* {
    padding: 0;
    margin: 0;
}