/* desktop */
.blocks-home {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.h2-home {
    font-family: var(--title);
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.h3-home {
    font-family: var(--title);
    font-size: 4rem;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}

/* about me */
.about-me-home {
    display: flex;
    flex-direction: column;
    width: 150rem;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-color: var(--rose);
    opacity: 0.6;
}

.description-user-home {
    font-family: var(--text);
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    font-weight: bold;
    margin-bottom: 5rem;
}

/* block skills & languages */
.skill-home-bloc {
    display:grid;
    justify-items: center;
    width: 150rem;
    margin-bottom: 5rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-image: url('../images/backgroundflowers.jpg');
    background-size: cover;
    opacity: 0.7;
}

/* block languages */
.language-home-bloc {
    width: 30rem;
    height: 20rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-color: var(--rose);
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.table-languages-home {
    margin: auto;
}

.th-languages-home {
    background-color: white;
    border-radius: 8px;
    vertical-align: middle;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
    max-width: 10rem;
}

.tr-languages-home {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
}

/* block skills */
.bloc-skill {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin:2rem;
}

.block-skills {
    background-color: #ffcf4e;
    opacity: 0.7;
    border-radius: 8px;
    margin: 2rem;
    text-align: center;
    height: 6rem;
    width: auto;
    color:var(--black);
    font-size: 2rem;
    padding-top: 1rem;
}

/* block experiences */
.experience-home-bloc {
    display:grid;
    justify-items: center;
    width:150rem;
    height: 100rem;
    margin-bottom: 5rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-image: url('../images/backgroundflowers.jpg');
    background-size: cover;
    opacity: 0.7;
}

.table-experiences-block-home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    border-radius: 8px;
}

.table-experiences-home {
    border-spacing: 10px;
    width: 100rem;
    height: 80rem;
}

.th-experiences-home {
    background-color: var(--jaune);
    border-radius: 8px;
    vertical-align: middle;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
    opacity: 0.7;
    font-weight: bold;
    color:var(--black);
}

.tr-experiences-home {
    text-align: center;
    background-color: var(--jaune);
    border-radius: 8px;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
    opacity: 0.7;
    font-weight: bold;
    color:var(--black);
}

/* block works */
.work-home-bloc {
    display:grid;
    justify-items: center;
    width: 200rem;
    height: auto;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-image: url('../images/backgroundflowers.jpg');
    background-size: cover;
    opacity: 0.7;
}

.table-works-block-home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    border-radius: 8px;
}

.table-works-home {
    border-spacing: 10px;
    width: 150rem;
    height: 90rem;
}

.th-works-home {
    background-color: var(--jaune);
    border-radius: 8px;
    vertical-align: middle;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
    opacity: 0.7;
    font-weight: bold;
    color:var(--black);
}

.tr-works-home {
    text-align: center;
    background-color: var(--jaune);
    border-radius: 8px;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
    opacity: 0.7;
    font-weight: bold;
    color:var(--black);
}

/* block education */
.education-home-bloc {
    display:grid;
    justify-items: center;
    width: 150rem;
    height: auto;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-image: url('../images/backgroundflowers.jpg');
    background-size: cover;
    opacity: 0.7;
}

.table-educations-block-home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    border-radius: 8px;
}

.table-educations-home {
    border-spacing: 10px;
    width: 90rem;
    height: 80rem;
}

.th-educations-home {
    border-radius: 8px;
    vertical-align: middle;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
    opacity: 0.7;
    font-weight: bold;
    color:var(--black);
}

.tr-educations-home {
    text-align: center;
    background-color: var(--jaune);
    border-radius: 8px;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
    opacity: 0.7;
    font-weight: bold;
    color:var(--black);
}

/* recommendations */
.recommendation-home-bloc {
    display:grid;
    justify-items: center;
    width: 100rem;
    height: auto;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
    background-image: url('../images/backgroundflowers.jpg');
    background-size: cover;
    opacity: 0.7;
}

.table-recommendations-home {
    border-spacing: 10px;
    width: 60rem;
    height: 40rem;
}

.tr-recommendations {
    text-align: center;
    background-color: var(--jaune);
    border-radius: 8px;
    padding:10px;
    font-family: var(--text);
    font-size: 2rem;
    opacity: 0.7;
    font-weight: bold;
    color:var(--black);
}

/* responsive mobil 
@media screen and (max-width: 576px) {
    .blocks-home {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    
    .h2-home {
        font-family: var(--title);
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
    }
    
    .h3-home {
        font-family: var(--title);
        font-size: 3rem;
        margin-top: 0;
        display: flex;
        justify-content: space-around;
    }
    
    .about-me-home {
        display: flex;
        flex-direction: column;
        width: 60rem;
        height: 40rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-color: var(--rose);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    .description-user-home {
        font-family: var(--text);
        font-size: 2rem;
        color: var(--black);
        text-align: center;
        font-weight: bold;
    }
    
    .hardskill-home-bloc {
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        width: 80rem;
        height: 60rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    
    .language-home-bloc {
        width: 30rem;
        height: 20rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-color: var(--rose);
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    
    .softskill-home-bloc {
        display: flex;
        justify-content: center;
        width: 80rem;
        height: 60rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    .experience-home-bloc {
        display: flex;
        justify-content: center;
        width: 80rem;
        height: 60rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    .work-home-bloc {
        display: flex;
        justify-content: center;
        width: 80rem;
        height: 60rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    .education-home-bloc {
        display: flex;
        justify-content: center;
        width: 80rem;
        height: 60rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
     
    }
    
    .contact-home-bloc {
        display: flex;
        justify-content: center;
        width: 80rem;
        height: 60rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
}

 responsive tablet 
@media screen and (max-width: 768px) {
    .blocks-home {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    
    .h2-home {
        font-family: var(--title);
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .h3-home {
        font-family: var(--title);
        font-size: 2rem;
        margin-top: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .about-me-home {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-color: var(--rose);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    .description-user-home {
        font-family: var(--text);
        font-size: 1rem;
        color: var(--black);
        text-align: center;
        font-weight: bold;
    }
    
    .hardskill-home-bloc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    
    .language-home-bloc {
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-color: var(--rose);
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    
    .softskill-home-bloc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    .experience-home-bloc {
        display: flex;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    .work-home-bloc {
        display: flex;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
    
    .education-home-bloc {
        display: flex;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
     
    }
    
    .contact-home-bloc {
        display: flex;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
        border-radius: 50px;
        box-shadow: 0.2rem 0.2rem 0.5rem var(--jaune);
        background-image: url('../images/backgroundflowers.jpg');
        background-size: cover;
        opacity: 0.7;
    }
} */