:root {
    /* polices */
    --title: "Sacramento";
    --text: "Quicksand", sans-serif;

    /* couleurs */
    --black: #000;
    --fushia: #e5709f;
    --rose: #EFA9C5;
    --rosepale:#f0eafc;
    --jaune:#ffcf4e;
}