{% extends 'base.html.twig' %}

{% block title %}Hello Steph!
{% endblock %}

{% block body %}
	<div class="container-skill">
		<h1 class="h1-skills">Créer un nouveau skill</h1>
		{{ form(formSkill) }}
		</div>
	{% endblock %}
